NODE-RED HTTP.txt
[
    {
        "id": "20bd25aa.c8797a",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "81b36b99.1d0118",
        "type": "http response",
        "z": "20bd25aa.c8797a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 120,
        "wires": []
    },
    {
        "id": "f74b14b0.a1f4b8",
        "type": "http in",
        "z": "20bd25aa.c8797a",
        "name": "",
        "url": "/pingpong/p1/get/jsondata",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 300,
        "wires": [
            [
                "ee8e8992.2841d8"
            ]
        ]
    },
    {
        "id": "ee8e8992.2841d8",
        "type": "function",
        "z": "20bd25aa.c8797a",
        "name": "get data p1",
        "func": "var getp1_json = global.get(\"p1_jsondata\");\nmsg.payload = getp1_json;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 300,
        "wires": [
            [
                "5e0fd81d.858f58"
            ]
        ]
    },
    {
        "id": "5e0fd81d.858f58",
        "type": "http response",
        "z": "20bd25aa.c8797a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 300,
        "wires": []
    },
    {
        "id": "7b6717c5.f4cf78",
        "type": "function",
        "z": "20bd25aa.c8797a",
        "name": "global var P1",
        "func": "msg.headers = {\n    \"Content-type\" : \"application/json\"\n}\nvar p1json_file=msg.payload;\nglobal.set(\"p1_jsondata\",p1json_file);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "81b36b99.1d0118"
            ]
        ]
    },
    {
        "id": "eee11f38.585db",
        "type": "http in",
        "z": "20bd25aa.c8797a",
        "name": "",
        "url": "/pingpong/p1/post/jsondata",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "7b6717c5.f4cf78"
            ]
        ]
    },
    {
        "id": "ca1cf338.7f3af",
        "type": "http response",
        "z": "20bd25aa.c8797a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 260,
        "wires": []
    },
    {
        "id": "5802d2b5.0b95fc",
        "type": "http in",
        "z": "20bd25aa.c8797a",
        "name": "",
        "url": "/pingpong/p2/get/jsondata",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 160,
        "wires": [
            [
                "aa755829.7b1f38"
            ]
        ]
    },
    {
        "id": "aa755829.7b1f38",
        "type": "function",
        "z": "20bd25aa.c8797a",
        "name": "get data p2",
        "func": "var getp2_json = global.get(\"p2_jsondata\");\nmsg.payload = getp2_json;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 160,
        "wires": [
            [
                "a9425571.2551d8"
            ]
        ]
    },
    {
        "id": "a9425571.2551d8",
        "type": "http response",
        "z": "20bd25aa.c8797a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 160,
        "wires": []
    },
    {
        "id": "f3473bf.1c50cc8",
        "type": "function",
        "z": "20bd25aa.c8797a",
        "name": "global var P2",
        "func": "msg.headers = {\n    \"Content-type\" : \"application/json\"\n}\nvar p2json_file=msg.payload;\nglobal.set(\"p2_jsondata\",p2json_file);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 260,
        "wires": [
            [
                "ca1cf338.7f3af"
            ]
        ]
    },
    {
        "id": "cf62878b.c9e048",
        "type": "http in",
        "z": "20bd25aa.c8797a",
        "name": "",
        "url": "/pingpong/p2/post/jsondata",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 260,
        "wires": [
            [
                "f3473bf.1c50cc8"
            ]
        ]
    },
    {
        "id": "7d3527ee.5ddc98",
        "type": "comment",
        "z": "20bd25aa.c8797a",
        "name": "Action Player 2",
        "info": "",
        "x": 160,
        "y": 220,
        "wires": []
    },
    {
        "id": "ef10c21a.b7a9b",
        "type": "comment",
        "z": "20bd25aa.c8797a",
        "name": "Action Player 1",
        "info": "",
        "x": 160,
        "y": 80,
        "wires": []
    },
    {
        "id": "4c990fe8.59caa",
        "type": "http response",
        "z": "20bd25aa.c8797a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 620,
        "wires": []
    },
    {
        "id": "ac72b4de.043d18",
        "type": "function",
        "z": "20bd25aa.c8797a",
        "name": "global var P_O",
        "func": "msg.headers = {\n    \"Content-type\" : \"application/json\"\n}\nvar pojson_file=msg.payload;\nglobal.set(\"po_jsondata\",pojson_file);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460,
        "y": 620,
        "wires": [
            [
                "4c990fe8.59caa"
            ]
        ]
    },
    {
        "id": "73962603.b3e428",
        "type": "http in",
        "z": "20bd25aa.c8797a",
        "name": "",
        "url": "/tictactoe/player_o/post/jsondata",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 620,
        "wires": [
            [
                "ac72b4de.043d18"
            ]
        ]
    },
    {
        "id": "16b7923d.2a459e",
        "type": "comment",
        "z": "20bd25aa.c8797a",
        "name": "Action Player O",
        "info": "",
        "x": 140,
        "y": 420,
        "wires": []
    },
    {
        "id": "b16dd5eb.520f48",
        "type": "http response",
        "z": "20bd25aa.c8797a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 1020,
        "wires": []
    },
    {
        "id": "f51ab2e8.29ec5",
        "type": "function",
        "z": "20bd25aa.c8797a",
        "name": "global var P_X",
        "func": "msg.headers = {\n    \"Content-type\" : \"application/json\"\n}\nvar pxjson_file=msg.payload;\nglobal.set(\"px_jsondata\",pxjson_file);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 455,
        "y": 1020,
        "wires": [
            [
                "b16dd5eb.520f48"
            ]
        ]
    },
    {
        "id": "2cd7afc6.aa9c1",
        "type": "http in",
        "z": "20bd25aa.c8797a",
        "name": "",
        "url": "/tictactoe/player_x/post/jsondata",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 1020,
        "wires": [
            [
                "f51ab2e8.29ec5"
            ]
        ]
    },
    {
        "id": "a236e1ee.befc",
        "type": "http in",
        "z": "20bd25aa.c8797a",
        "name": "",
        "url": "/tictactoe/player_o/get/jsondata",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1080,
        "y": 1020,
        "wires": [
            [
                "97487328.d490e"
            ]
        ]
    },
    {
        "id": "97487328.d490e",
        "type": "function",
        "z": "20bd25aa.c8797a",
        "name": "get data p_o",
        "func": "var getpo_json = global.get(\"po_jsondata\");\nmsg.payload = getpo_json;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1350,
        "y": 1020,
        "wires": [
            [
                "ed6691f3.151c2"
            ]
        ]
    },
    {
        "id": "ed6691f3.151c2",
        "type": "http response",
        "z": "20bd25aa.c8797a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1670,
        "y": 1020,
        "wires": []
    },
    {
        "id": "ec6a8782.c0eb48",
        "type": "comment",
        "z": "20bd25aa.c8797a",
        "name": "Action Player X",
        "info": "",
        "x": 140,
        "y": 800,
        "wires": []
    },
    {
        "id": "ed807426.8beb28",
        "type": "http in",
        "z": "20bd25aa.c8797a",
        "name": "",
        "url": "/tictactoe/player_x/get/jsondata",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1080,
        "y": 620,
        "wires": [
            [
                "367c1af4.096316"
            ]
        ]
    },
    {
        "id": "367c1af4.096316",
        "type": "function",
        "z": "20bd25aa.c8797a",
        "name": "get data p_x",
        "func": "var getpx_json = global.get(\"px_jsondata\");\nmsg.payload = getpx_json;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 620,
        "wires": [
            [
                "17e41011.80484"
            ]
        ]
    },
    {
        "id": "17e41011.80484",
        "type": "http response",
        "z": "20bd25aa.c8797a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1670,
        "y": 620,
        "wires": []
    },
    {
        "id": "8c5df670.050ad8",
        "type": "http in",
        "z": "20bd25aa.c8797a",
        "name": "",
        "url": "/tictactoe/player_o/get/signal",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1070,
        "y": 860,
        "wires": [
            [
                "42955409.cd682c"
            ]
        ]
    },
    {
        "id": "84fe37b2.2639f8",
        "type": "http in",
        "z": "20bd25aa.c8797a",
        "name": "",
        "url": "/tictactoe/player_o/post/signal",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 460,
        "wires": [
            [
                "bcded942.a98958"
            ]
        ]
    },
    {
        "id": "c1dc539a.2edd4",
        "type": "http in",
        "z": "20bd25aa.c8797a",
        "name": "",
        "url": "/tictactoe/player_o/post/turn",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 500,
        "wires": [
            [
                "250175ac.b97e6a"
            ]
        ]
    },
    {
        "id": "e618d4cb.295eb8",
        "type": "http in",
        "z": "20bd25aa.c8797a",
        "name": "",
        "url": "/tictactoe/player_o/post/row",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 540,
        "wires": [
            [
                "d915f52.4495008"
            ]
        ]
    },
    {
        "id": "6ca39df0.53b004",
        "type": "http in",
        "z": "20bd25aa.c8797a",
        "name": "",
        "url": "/tictactoe/player_o/post/column",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 580,
        "wires": [
            [
                "d576d17c.724db"
            ]
        ]
    },
    {
        "id": "25a290a0.75662",
        "type": "http in",
        "z": "20bd25aa.c8797a",
        "name": "",
        "url": "/tictactoe/player_o/get/turn",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1070,
        "y": 900,
        "wires": [
            [
                "9188ee65.d2bff"
            ]
        ]
    },
    {
        "id": "af19c4dc.1233d8",
        "type": "http in",
        "z": "20bd25aa.c8797a",
        "name": "",
        "url": "/tictactoe/player_o/get/row",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1070,
        "y": 940,
        "wires": [
            [
                "5bebaf1b.b5507"
            ]
        ]
    },
    {
        "id": "550ce6b6.10c8d8",
        "type": "http in",
        "z": "20bd25aa.c8797a",
        "name": "",
        "url": "/tictactoe/player_o/get/column",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1080,
        "y": 980,
        "wires": [
            [
                "8af0bccc.7d849"
            ]
        ]
    },
    {
        "id": "aeebbaf9.d68338",
        "type": "http in",
        "z": "20bd25aa.c8797a",
        "name": "",
        "url": "/tictactoe/player_x/get/signal",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1070,
        "y": 460,
        "wires": [
            [
                "86ca9dc9.0526d"
            ]
        ]
    },
    {
        "id": "e02ed640.1486f8",
        "type": "http in",
        "z": "20bd25aa.c8797a",
        "name": "",
        "url": "/tictactoe/player_x/post/signal",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 860,
        "wires": [
            [
                "1091d46e.14ef2c"
            ]
        ]
    },
    {
        "id": "b8f27eae.c2235",
        "type": "http in",
        "z": "20bd25aa.c8797a",
        "name": "",
        "url": "/tictactoe/player_x/post/turn",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 900,
        "wires": [
            [
                "6371edd9.097744"
            ]
        ]
    },
    {
        "id": "f8837074.f9085",
        "type": "http in",
        "z": "20bd25aa.c8797a",
        "name": "",
        "url": "/tictactoe/player_x/post/row",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 940,
        "wires": [
            [
                "9091fb01.1e9538"
            ]
        ]
    },
    {
        "id": "1a762e4f.b89b52",
        "type": "http in",
        "z": "20bd25aa.c8797a",
        "name": "",
        "url": "/tictactoe/player_x/post/column",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 980,
        "wires": [
            [
                "44beacd4.f90cb4"
            ]
        ]
    },
    {
        "id": "1c96b1eb.c57a5e",
        "type": "http in",
        "z": "20bd25aa.c8797a",
        "name": "",
        "url": "/tictactoe/player_x/get/turn",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1070,
        "y": 500,
        "wires": [
            [
                "5dfaa153.0c3a4"
            ]
        ]
    },
    {
        "id": "e729241c.a120d8",
        "type": "http in",
        "z": "20bd25aa.c8797a",
        "name": "",
        "url": "/tictactoe/player_x/get/row",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1070,
        "y": 540,
        "wires": [
            [
                "f05001a1.e735"
            ]
        ]
    },
    {
        "id": "e856c871.d16408",
        "type": "http in",
        "z": "20bd25aa.c8797a",
        "name": "",
        "url": "/tictactoe/player_x/get/column",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 1080,
        "y": 580,
        "wires": [
            [
                "c299b53b.1b3cd8"
            ]
        ]
    },
    {
        "id": "b04cbb9c.fcb838",
        "type": "http response",
        "z": "20bd25aa.c8797a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 460,
        "wires": []
    },
    {
        "id": "e575ae4.b15585",
        "type": "http response",
        "z": "20bd25aa.c8797a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 500,
        "wires": []
    },
    {
        "id": "b31e7288.8722f",
        "type": "http response",
        "z": "20bd25aa.c8797a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 540,
        "wires": []
    },
    {
        "id": "930434d.5f20bc8",
        "type": "http response",
        "z": "20bd25aa.c8797a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 580,
        "wires": []
    },
    {
        "id": "1bc6d491.a7407b",
        "type": "http response",
        "z": "20bd25aa.c8797a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1690,
        "y": 860,
        "wires": []
    },
    {
        "id": "aca3d2c9.93af2",
        "type": "http response",
        "z": "20bd25aa.c8797a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1690,
        "y": 900,
        "wires": []
    },
    {
        "id": "cc34f114.7f4be",
        "type": "http response",
        "z": "20bd25aa.c8797a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1690,
        "y": 940,
        "wires": []
    },
    {
        "id": "78e6d6c6.e15c88",
        "type": "http response",
        "z": "20bd25aa.c8797a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1690,
        "y": 980,
        "wires": []
    },
    {
        "id": "134a7764.9c6599",
        "type": "http response",
        "z": "20bd25aa.c8797a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 860,
        "wires": []
    },
    {
        "id": "e3ad7196.c45a9",
        "type": "http response",
        "z": "20bd25aa.c8797a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 900,
        "wires": []
    },
    {
        "id": "8013c6e.a47fa38",
        "type": "http response",
        "z": "20bd25aa.c8797a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 940,
        "wires": []
    },
    {
        "id": "f1f0b768.332128",
        "type": "http response",
        "z": "20bd25aa.c8797a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 980,
        "wires": []
    },
    {
        "id": "926883fd.e0424",
        "type": "http response",
        "z": "20bd25aa.c8797a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1690,
        "y": 460,
        "wires": []
    },
    {
        "id": "526f4337.c7b63c",
        "type": "http response",
        "z": "20bd25aa.c8797a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1690,
        "y": 500,
        "wires": []
    },
    {
        "id": "c4f83371.70e86",
        "type": "http response",
        "z": "20bd25aa.c8797a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1690,
        "y": 540,
        "wires": []
    },
    {
        "id": "d04beed7.993ff",
        "type": "http response",
        "z": "20bd25aa.c8797a",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1690,
        "y": 580,
        "wires": []
    },
    {
        "id": "d576d17c.724db",
        "type": "template",
        "z": "20bd25aa.c8797a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 440,
        "y": 580,
        "wires": [
            [
                "930434d.5f20bc8",
                "5ac4844d.b7ae4c"
            ]
        ]
    },
    {
        "id": "bcded942.a98958",
        "type": "template",
        "z": "20bd25aa.c8797a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 440,
        "y": 460,
        "wires": [
            [
                "b04cbb9c.fcb838",
                "594d5fd2.daf15"
            ]
        ]
    },
    {
        "id": "250175ac.b97e6a",
        "type": "template",
        "z": "20bd25aa.c8797a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 440,
        "y": 500,
        "wires": [
            [
                "e575ae4.b15585",
                "912d8a36.886d58"
            ]
        ]
    },
    {
        "id": "d915f52.4495008",
        "type": "template",
        "z": "20bd25aa.c8797a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 440,
        "y": 540,
        "wires": [
            [
                "b31e7288.8722f",
                "529e5e5d.c2423"
            ]
        ]
    },
    {
        "id": "44beacd4.f90cb4",
        "type": "template",
        "z": "20bd25aa.c8797a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 420,
        "y": 980,
        "wires": [
            [
                "f1f0b768.332128",
                "f4afba64.a86808"
            ]
        ]
    },
    {
        "id": "1091d46e.14ef2c",
        "type": "template",
        "z": "20bd25aa.c8797a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 420,
        "y": 860,
        "wires": [
            [
                "134a7764.9c6599",
                "7fbcbd1d.ffa8c4"
            ]
        ]
    },
    {
        "id": "6371edd9.097744",
        "type": "template",
        "z": "20bd25aa.c8797a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 420,
        "y": 900,
        "wires": [
            [
                "e3ad7196.c45a9",
                "88108e18.60ff9"
            ]
        ]
    },
    {
        "id": "9091fb01.1e9538",
        "type": "template",
        "z": "20bd25aa.c8797a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload}}",
        "output": "str",
        "x": 420,
        "y": 940,
        "wires": [
            [
                "8013c6e.a47fa38",
                "7396ea1a.a563f4"
            ]
        ]
    },
    {
        "id": "594d5fd2.daf15",
        "type": "function",
        "z": "20bd25aa.c8797a",
        "name": "global var PO Signal",
        "func": "global.set(\"po_signal\",msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "42955409.cd682c",
        "type": "function",
        "z": "20bd25aa.c8797a",
        "name": "get data po signal",
        "func": "var getpo_signal = global.get(\"po_signal\");\nmsg.payload = getpo_signal;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 860,
        "wires": [
            [
                "1bc6d491.a7407b"
            ]
        ]
    },
    {
        "id": "912d8a36.886d58",
        "type": "function",
        "z": "20bd25aa.c8797a",
        "name": "global var PO Turn",
        "func": "global.set(\"po_turn\",msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "529e5e5d.c2423",
        "type": "function",
        "z": "20bd25aa.c8797a",
        "name": "global var PO Row",
        "func": "global.set(\"po_row\",msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "5ac4844d.b7ae4c",
        "type": "function",
        "z": "20bd25aa.c8797a",
        "name": "global var PO Column",
        "func": "global.set(\"po_column\",msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "9188ee65.d2bff",
        "type": "function",
        "z": "20bd25aa.c8797a",
        "name": "get data po turn",
        "func": "var getpo_turn = global.get(\"po_turn\");\nmsg.payload = getpo_turn;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1360,
        "y": 900,
        "wires": [
            [
                "aca3d2c9.93af2"
            ]
        ]
    },
    {
        "id": "5bebaf1b.b5507",
        "type": "function",
        "z": "20bd25aa.c8797a",
        "name": "get data po row",
        "func": "var getpo_row = global.get(\"po_row\");\nmsg.payload = getpo_row;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1360,
        "y": 940,
        "wires": [
            [
                "cc34f114.7f4be"
            ]
        ]
    },
    {
        "id": "8af0bccc.7d849",
        "type": "function",
        "z": "20bd25aa.c8797a",
        "name": "get data po column",
        "func": "var getpo_column = global.get(\"po_column\");\nmsg.payload = getpo_column;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1370,
        "y": 980,
        "wires": [
            [
                "78e6d6c6.e15c88"
            ]
        ]
    },
    {
        "id": "7fbcbd1d.ffa8c4",
        "type": "function",
        "z": "20bd25aa.c8797a",
        "name": "global var PX Signal",
        "func": "global.set(\"px_signal\",msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "88108e18.60ff9",
        "type": "function",
        "z": "20bd25aa.c8797a",
        "name": "global var PX Turn",
        "func": "global.set(\"px_turn\",msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "7396ea1a.a563f4",
        "type": "function",
        "z": "20bd25aa.c8797a",
        "name": "global var PX Row",
        "func": "global.set(\"px_row\",msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "f4afba64.a86808",
        "type": "function",
        "z": "20bd25aa.c8797a",
        "name": "global var PX Column",
        "func": "global.set(\"px_column\",msg.payload);",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "86ca9dc9.0526d",
        "type": "function",
        "z": "20bd25aa.c8797a",
        "name": "get data px signal",
        "func": "var getpx_signal = global.get(\"px_signal\");\nmsg.payload = getpx_signal;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1390,
        "y": 460,
        "wires": [
            [
                "926883fd.e0424"
            ]
        ]
    },
    {
        "id": "5dfaa153.0c3a4",
        "type": "function",
        "z": "20bd25aa.c8797a",
        "name": "get data px turn",
        "func": "var getpx_turn = global.get(\"px_turn\");\nmsg.payload = getpx_turn;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1380,
        "y": 500,
        "wires": [
            [
                "526f4337.c7b63c"
            ]
        ]
    },
    {
        "id": "f05001a1.e735",
        "type": "function",
        "z": "20bd25aa.c8797a",
        "name": "get data px row",
        "func": "var getpx_row = global.get(\"px_row\");\nmsg.payload = getpx_row;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1380,
        "y": 540,
        "wires": [
            [
                "c4f83371.70e86"
            ]
        ]
    },
    {
        "id": "c299b53b.1b3cd8",
        "type": "function",
        "z": "20bd25aa.c8797a",
        "name": "get data px column",
        "func": "var getpx_column = global.get(\"px_column\");\nmsg.payload = getpx_column;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1390,
        "y": 580,
        "wires": [
            [
                "d04beed7.993ff"
            ]
        ]
    }
]